@import url('https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Yaldevi&display=swap');

* {
    /* border: 1px solid white; */
    font-family: Yaldevi, sans-serif;
    color: whitesmoke;
}

html {
    background-color: #181818;
}

img {
    height: 300px;
    width: auto;
    display: block;
    margin: auto;
    border: 10px ridge rgb(128, 73, 48, 0.5);
}

.title {
    text-align: center;
    font-family: "Gideon Roman", serif;
    font-size: 3rem;
    margin-bottom: 10px;
}

.subtitle {
    font-family: "Gideon Roman", serif;
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 10px;
}

.description {
    text-align: center;

}

.recipe-list {
    margin: 30px auto;
    max-width: 400px;
    padding: 10px 200px;
    background-color: hsl(0, 0%, 15%);
    text-align: center;
    border: 5px double hsl(0, 0%, 50%);
}

.recipe-title {
    font-family: "Gideon Roman", serif;
    font-size: 2rem;
    margin: 10px 0px;
    font-weight: bold;
}

.recipe-list li{
    list-style-type: none;
    margin: 5px 0px;
}

.recipe-list li a {
    text-decoration: none;
}

.recipe-list li a:hover {
    font-family: "Gideon Roman", serif;
}